@using Paragraff.Models
@model LoginViewModel
@{
    Layout = null;
}
<head>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/matrix-theme-css")
</head>
<div class="row">
    <div class="col-md-8">
        <div id="loginbox">
            <a href="@Url.Action("Index", "Home",new {area = "" })" class="control-group normal_text"> <h3><img src="~/Content/MatrixTheme/img/logo.png" /></h3></a>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-vertical loginform", role = "form" }))
            {
                @Html.ValidationSummary("", new {@class="validation-msg"})
                @Html.AntiForgeryToken()

                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-user"></i></span>
                            @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @placeholder = "Username", @class = "form-control" } })
                            <div>
                                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "validation-msg" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @placeholder = "Password", @class = "form-control" } })
                            <div>
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "validation-msg" })
                            </div>
                        </div>
                    </div>
                    @*<div class="controls">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>

                <div class="form-actions">
                    <a href="@Url.Action("Register", "Account")" class="flip-link btn btn-info">Register</a>
                    <input type="submit" class="btn btn-success" value="Login" />
                </div>

            }

            @*<form id="recoverform" action="#" class="form-vertical">
                    <p class="normal_text">Enter your e-mail address below and we will send you instructions how to recover a password.</p>

                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail address" />
                        </div>
                    </div>

                    <div class="form-actions">
                        <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-login">&laquo; Back to login</a></span>
                        <span class="pull-right"><a class="btn btn-info" />Reecover</a></span>
                    </div>
                </form>*@
        </div>
    </div>
</div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/matrix-theme-js")
    @Scripts.Render("~/bundles/jquery-ajax")
