@model Paragraff.Models.RegisterViewModel

@{
    Layout = null;
}
<head>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/matrix-theme-css")

</head>

<div class="row">
    <div class="col-md-8">
        <div id="loginbox">
            <a href="@Url.Action("Index", "Home",new {area = "" })" class="control-group normal_text"> <h3><img src="~/Content/MatrixTheme/img/logo.png" /></h3></a>
            @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-vertical loginform", role = "form" }))
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()

                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-user"></i></span>
                            @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @placeholder = "Username", @class = "form-control" } })
                            <div>
                                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "validation-msg" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password", @class = "form-control" })
                            <div>
                                @Html.ValidationMessageFor(m => m.ConfirmPassword,"", new { @class = "validation-msg" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @class = "form-control" })
                            <div>
                                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "validation-msg" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lb"><i class="icon-envelope"></i></span>
                            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @placeholder = "Email", @class = "form-control" } })
                            <div>
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "validation-msg" })
                            </div>
                        </div>
                    </div>
                    <br />
                </div>

                <div class="form-actions">
                    <input type="submit" class="btn btn-success" value="Register" />
                </div>

            }
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/matrix-theme-js")
@Scripts.Render("~/bundles/jquery-ajax")