@model NewPostViewModel

<h2>NewPost</h2>
<head>
    @Styles.Render("~/bundles/datepicker-css")
</head>

<div class="widget-box">
    <div class="widget-title">
        <span class="icon"> <i class="icon-pencil"></i> </span>
        <h5>Create a post</h5>
    </div>
    <div class="widget-content nopadding">
        @using (Html.BeginForm("CreatePost", "Post", new { area = "" },
                        FormMethod.Post,
                        new { enctype = "multipart/form-data", @id = "form-wizard", @class = "form-horizontal" }))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <div id="form-wizard-1" class="step">
                <div class="control-group">
                    @Html.LabelFor(m => m.Book.Author, new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(m => m.Book.Author)
                        <br />
                        @Html.ValidationMessageFor(m => m.Book.Author, "", new { @class = "validation-msg" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(m => m.Book.Title, new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(m => m.Book.Title)
                        <br />
                        @Html.ValidationMessageFor(m => m.Book.Title, "", new { @class = "validation-msg" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(m => m.Book.Category, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DropDownListFor(m => m.Book.Category,
                                               Model.Book.Categories, "- Select Genre -",
                                               new { @class = "form-control" })
                        <br />
                        @Html.ValidationMessageFor(m => m.Book.Category, "", new { @class = "validation-msg" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(m => m.Book.Publisher, new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(m => m.Book.Publisher)
                        <br />
                        @Html.ValidationMessageFor(m => m.Book.Publisher, "", new { @class = "validation-msg" })
                    </div>
                </div>
                <div class="control-group">
                    <div class='input-group date controls' id='published-on'>
                        @Html.LabelFor(m => m.Book.PublishedOn, "Published On")
                        @Html.EditorFor(m => m.Book.PublishedOn)
                        <span class="input-group-addon">
                            <span class="icon icon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(m => m.Book.Image, new { @class = "col-md-2 control-label", type = "file" })
                    <div class="col-md-10 span5 controls">
                        <label class="custom-file-upload">
                            @Html.TextBoxFor(m => m.Book.Image, new { type = "file", @class = "no-input" })
                            @*<input type="file" name="Book.Image" class="no-input" />*@
                            <i class="icon icon-picture"></i> Change
                        </label>
                        <br />
                        @Html.ValidationMessageFor(m => m.Book.Image, "", new { @class = "validation-msg" })
                    </div>
                </div>
            </div>
            <div id="form-wizard-2" class="step">
                <div class="control-group">
                    @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                    <div class="controls">
                        <span class="fa fa-pencil"></span>
                        @Html.EditorFor(m => m.Description)
                        <br />
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "validation-msg" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(m => m.Price, new { @class = "control-label" })
                    <div class="controls">
                        <span class="fa fa-eur" style="color:dodgerblue"></span>
                        @Html.EditorFor(m => m.Price)
                        <br />
                        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "validation-msg" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(m => m.Rating, new { @class = "control-label" })
                    <div class="controls">
                        <span class="icon icon-star" style="color:goldenrod"></span>
                        @Html.DropDownListFor(m => m.Rating, new SelectList(Enumerable.Range(1, 10)))
                        <br />
                        @Html.ValidationMessageFor(m => m.Rating, "", new { @class = "validation-msg" })
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <input id="back" class="btn btn-primary" type="reset" value="Back" />
                <input id="next" class="btn btn-primary" type="submit" value="Next" />
                <div id="status"></div>
            </div>
            <div id="submitted"></div>
        }
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            const dateFormat = "DD/MM/YYYY";

            $.validator.methods.date = function (value, element) {
                return this.optional(element) || moment(value, dateFormat, true).isValid();
            }

            let config = {
                format: dateFormat,
                widgetPositioning: {
                    horizontal: 'auto',
                    vertical: 'auto'
                },
                allowInputToggle: true,
                icons: {
                    up: 'icon icon-upload',
                    down: 'icon icon-download',
                    previous: 'icon icon-arrow-left',
                    next: 'icon icon-arrow-right',
                }
            };
            $('#published-on').datetimepicker(config);
        });
    </script>

    @Scripts.Render("~/bundles/datepicker-js")
}
