@model List<PublicUserViewModel>

@*@Html.Partial("_AdminDashboard")*@
<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>Data table</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered data-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 1;}
                @foreach (var user in Model)
                {
                    <tr class="gradeA">
                        <td class="center">@i</td>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                        @if (user.IsAdmin)
                        {
                            <td>Admin</td>
                        }
                        else
                        {
                            <td>User</td>
                        }
                        <td>
                            @Html.ActionLink("Edit", "EditUser", "User", new { area = ""}, new { @username = user.Username, @class = "btn" })
                            @if (user.IsActive)
                            {
                                <button class="btn-danger">Deactivate</button>
                            }
                            else
                            {
                                <button class="btn-success">Activate</button>
                            }
                            <button class="btn-warning">Details</button>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/uniform")
@Scripts.Render("~/bundles/matrix-tables")

