@model IEnumerable<CategoryViewModel>

<h2>EditCategories</h2>

<br />

@using (Ajax.BeginForm("MyAction", "MyController",
                                    new AjaxOptions
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "target"
                                    }, new { @id = "add-category-form" }))
{
    <input type="text" id="category-text" placeholder="category" />
    <input type="button"
           id="submit-category"
           data-toggle="modal"
           data-target="#confirm-add"
           class="btn btn-success" value="Add" />
}

<br />
<br />

<div id="category-container">
    @foreach (var category in Model)
    {
        <span class="tag label label-info">
            <span class="category-name">@category.CategoryName</span>
            @*<a><i id="@category.Id" class="remove-category remove icon-remove"></i></a>*@
            @*@Ajax.RawActionLink(string.Format("<i id='@category.Id' class='remove-category remove icon-remove'></i>"), "DeleteCategory", "Category", new { area = "Admin" }, new AjaxOptions { HttpMethod = "Post" }, new { @class = "" })*@
            @using (Ajax.BeginForm("DeactivateCategory", "Category", new { area = "Admin" },
                                new AjaxOptions
                                {
                                    HttpMethod = "Post",
                                    OnSuccess = "onSuccess",
                                    OnFailure = "onFailure"
                                }, new { @id = "deactivate-category-form", @class = "inline" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="categoryId" value="@category.Id" />

                <button type="submit" class="btn btn-warning">
                    <i class="icon-book"></i>
                </button>
            }

            @using (Ajax.BeginForm("DeleteCategory", "Category", new { area = "Admin" },
                            new AjaxOptions
                            {
                                HttpMethod = "Post",
                                OnSuccess = "onDeletionSuccess",
                                OnFailure = "onDeletionFailure",
                            }, new { @id = "delete-category-form", @class = "inline" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="categoryId" value="@category.Id" />
                <button id="delete-category" @*type="submit"*@ class="btn btn-danger">
                    <i class="icon-remove"></i>
                </button>

            }
        </span>
    }
</div>

@Scripts.Render("~/bundles/gritter")

<script>
   

    //$(document).on('click', '.remove-category', function (event) {
    //    let id = event.target.id;
    //});

    function onDeletionSuccess() {
        let el = $(this).parent();
        let categoryName = el.children("span.category-name").html();
        $.gritter.add({
            title: 'Success',
            text: 'You have successfully deleted ' + categoryName.toUpperCase(),
            image: '../Content/MatrixTheme/img/Delete_Icon.png',
            sticky: false
        });
        //console.log("deleted ", el.parent());
        el.remove();
    }

    $(document).on("click", "#delete-category", function () {
        if (confirm("Are you sure you want to delete this .. ?")) {
            $("#delete-category-form").submit(); // Submitting the form if user clicks OK
        }
        return false;
    });

</script>
