@model PostReviewViewModel
<div class="row review-top-margin">
    <div class="span2">
        <img class="review-img"
             src="@Url.Action("GetBookImage", "Review",
    new { area = "", bookId = Model.Book.Id })"
             alt="Alternate Text" />
    </div>
    <div class="span5">
        <h2>
            @Html.ActionLink(Model.Username + "'s review", "UserProfile", "User",
       new { area = "", username = Model.Username },
       new { @class = "review-title" }) > @Model.Book.Title
</h2>
<h4>@Model.Book.Title</h4>
<p>
    by <strong>@Model.Book.Author</strong>
</p>
<p style="display:inline-block">
    <span class="fa fa-star fa-2x" style="color:orange;"></span>
    <h2 style="display:inline-block" id="review-rating">@(Model.IsRated ? @Model.Ratings.Average().ToString() : "not Rated")</h2>
    <div class="control-group" style="display:inline-block; margin-left:30px" >
        @using (Ajax.BeginForm("RatePost", "Review",
                    new { area = "" },
                    new AjaxOptions
                    {
                        HttpMethod = "Post",
                        UpdateTargetId = "review-rating",
                        InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace
                    }))
        {
            @Html.AntiForgeryToken();

            @Html.HiddenFor(m => m.PostId);
            <div class="controls">
                <span class="icon icon-pencil" style="color:yellowgreen"></span>
                @Html.DropDownListFor(m => m.RatedFromViewer, new SelectList(Enumerable.Range(1, 10)),
                   new { onchange = "$(this.form).submit();", style = "width:60px !important" })
                <br />
            </div>
        }

    </div>
</p>
<h6>
    @Model.Description
</h6>
<div>
    Wished from @Model.Book.Wishers.Count() people:
    @foreach (var w in Model.Book.Wishers)
            {
        <h5 style="display:inline-block">
            <img src="@Url.Action("UserPhotos", "User", new { area = "", username = w.Username })" class="wisher-image" alt="User photo" />
            @Html.ActionLink(w.Username, "UserProfile", "User", new { area = "", username = w.Username }, new { @class = "review-title" })
        </h5>
        <span>&nbsp;&nbsp;&nbsp;</span>
    }
</div>

<hr />
</div>
</div>
