@model CommentReviewViewModel

<h3>    @Model.PostId</h3>

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1" id="logout">
            <div class="comment-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#comments-logout" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Comments</h4></a></li>
                    <li><a href="#add-comment" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Add comment</h4></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="comments-logout">
                        <ul class="media-list">
                            <li class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg" alt="profile">
                                </a>
                                <div class="media-body">
                                    <div class="well well-lg">
                                        <h4 class="media-heading text-uppercase reviews">Marco </h4>
                                        <span>23.213.12</span>
                                        <ul class="media-date text-uppercase reviews list-inline"></ul>
                                        <p class="media-comment">
                                            Great snippet! Thanks for sharing.
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="add-comment">
                        @{ Model.PublisherId = this.User.Identity.GetUserId();}
                        @using (Html.BeginForm("PostComment", "Comment", new { area = "" }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken();
                            <div class="form-group">
                                @Html.HiddenFor(m => m.PostId)
                                @Html.HiddenFor(m => m.PublisherId)
                                @Html.LabelFor(m => m.Content, "Comment", new { @class = "control-label inline" })
                                @Html.TextAreaFor(m => m.Content)
                                <br />
                                @Html.ValidationMessageFor(m => m.Content, "", new { @class = "validation-msg" })
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input class="btn btn-success btn-circle text-uppercase" type="submit" value="Submit" />
                                    @*<span class="fa fa-send"></span> Summit comment*@
                                    @*</input>*@
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>