@model PostReviewViewModel
<div class="row review-top-margin">
    <div class="span2">
        <img class="review-img"
             src="@Url.Action("GetBookImage", "Review",
    new { area = "", bookId = Model.Book.Id })"
             alt="Alternate Text" />
    </div>
    <div class="span5">
        <h2>
            @Html.ActionLink(Model.Username + "'s review", "UserProfile", "User",
       new { area = "", username = Model.Username },
       new { @class = "review-title" }) > @Model.Book.Title
</h2>
<h4>@Model.Book.Title</h4>
<p>
    by <strong>@Model.Book.Author</strong>
</p>
<p>
    <span class="fa fa-star" style="color:orange"></span>
    @if (Model.IsRated)
            {
        <span>@Model.Ratings.Average()</span>
    }
    else
    {
        <span>not rated</span>
    }
</p>
<h6>
    @Model.Description
</h6>
<div>
    Wished from @Model.Book.Wishers.Count() people:
    @foreach (var w in Model.Book.Wishers)
            {
        <h5 style="display:inline-block">
            <img src="@Url.Action("UserPhotos", "User", new { area = "", username = w.Username })" class="wisher-image" alt="User photo" />
            @Html.ActionLink(w.Username, "UserProfile", "User", new { area = "", username = w.Username }, new {@class = "review-title" })
        </h5>
        <span>&nbsp;&nbsp;&nbsp;</span>
    }
</div>

<hr />
</div>
</div>

